<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Recipient:</b>
  <%= @message.recipient %>
</p>

<p>
  <b>Sender:</b>
  <%= @message.sender %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
