<div class="container">
	<div class="columns six user_form">
		<h3>Edit <%= resource_name.to_s.humanize %></h3>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %> 
		  <div>
			<%= f.label :name %>
		  	<%= f.text_field :name %>
	      </div>
		  <div>
			<%= f.label :email %>
		  	<%= f.email_field :email %>
		  </div>
		  <div>
			<%= f.label :password %> <span class="small">leave blank if you don't want to change it</span>
		  	<%= f.password_field :password, :autocomplete => "off" %>
		  </div>
		  <div>
			<%= f.label :password_confirmation %>
		  	<%= f.password_field :password_confirmation %>
		  </div>
		  <div>
			<%= f.label :current_password %> <span class="small">confirm your changes with your current password</span>
		  	<%= f.password_field :current_password %>
		  </div>
		  <div><%= f.submit "Update" %></div>
		<% end %>
	</div>
</div>
