<div class="container">
	<div class="sixteen columns">
	<h3>Messages</h3>
</div>	
<div class="sixteen columns">		
	<ul class="tabs">
		<li><a href="#t1" class="active">Inbox</a></li>
		<li><a href="#t2">Outbox</a></li>
	</ul>
	<ul class="tabs-content">
		<li id="t1" class="active">	
			<table width=100%>
				<tr>
					<th>From</th>
					<th>Subject</th>
					<th>Date</th>
					<th></th>
				</tr>
				<% @messages_received.each do |message| %>
				<tr>					
					<td><%= User.find(message.sender).name %></td>
					<td><%= link_to message.subject, {:controller => "messages", :action => "show_in", :id => message.id} %></td>
					<td><%= message.created_at%></td>
					<td><%= link_to 'Reply', message_path(message.sender)%>	</td>
				<tr>
				<% end %>
			</table>			
		</li>
		<li id="t2">
			<table width=100%>
				<tr>
					<th>To</th>
					<th>Subject</th>
					<th>Date</th>
				</tr>
				<% @messages_sent.each do |message| %>
				<tr>
					<td><%= User.find(message.recipient).name %></td>
					<td><%= link_to message.subject, {:controller => "messages", :action => "show_out", :id => message.id} %></td>			
					<td><%= message.created_at%></td>
				<tr>
				<% end %>
			</table>
		</li>
	</ul>
		
</div>
</div>