<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3><%= @user.name %>
			<% if user_signed_in? && current_user.name == @user.name %>
			  <%= link_to('Edit account', edit_user_registration_path, :class => 'button' )%>
			<% end %>
		</h3>
	</div>
	
	<div class="sixteen columns">
		<h3>Projects</h3>
	</div>
	<% @owned_projects.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>
	<% end %>
	
	<div class="sixteen columns">
		<h3>Supports</h3>
	</div>
	<% @supported_projects.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>
	<% end %>
	
	<div class="sixteen columns">
		<h3>Favourites</h3>
	</div>
	<% @favourite_projects.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>
	<% end %>
		
</div>