<div class="container">	
	<div class="sixteen columns">
		<div class="six columns alpha">
			<h3><%= @user.name %></h3>
			<div class="user_image"><%= image_tag @user.image.url(:small)%></div>
			<div class="user_info">
				<strong>Website:</strong> 
				<%if @user.website != "" && @user.website != nil %>
					<%= link_to @user.website, @user.website%>
				<%else%>
					no Website available
				<% end %><br />
				<strong>Facebook:</strong> 
				<%if @user.facebook != "" && @user.facebook != nil %>
					<%= link_to  @user.facebook, @user.facebook%>
				<%else%>
					no Facebook connected
				<% end %><br />
				<strong>Twitter:</strong> 
				<%if @user.twitter != "" && @user.twitter != nil %>
					<%= link_to  @user.twitter, @user.twitter%>
				<%else%>
					no Twitter connected
				<% end %><br />
				<strong>Time donated:</strong> 
					<%= @user.time_budget%> <br />
			</div>
		</div>
		<div class="ten columns omega">
			<%if @user.biography != nil %>
			<div class="user_bio">
			<h3>Biography</h3>
			<div class="user_bio_text">
				<%= @user.biography%>
			</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="sixteen columns text_right">
		<% if user_signed_in? && current_user.name == @user.name %>
		  <%= link_to('Edit Profile', edit_user_registration_path, :class => 'button' )%>
		<% end %>
	</div>
	
	<div class="sixteen columns">
		<h3><% if current_user.name == @user.name %> My <%else%> <%=@user.name%>'s <%end %>Projects</h3>
	</div>
	<div class="owned_projects">
	<% if @owned_projects.count > 0 %>
		<% @owned_projects.each do |project| %>
		<div class="four columns">
			<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
		</div>
		<% end %>
		<div class="sixteen columns">
			<%= paginate @owned_projects, :remote => true %> 
		</div>
	<% else %>
		<div class="sixteen columns">
			no projects yet
		</div>	
	<% end %>
	</div>
	
	<div class="sixteen columns">
		<h3><% if current_user.name == @user.name %> My <%else%> <%=@user.name%>'s <%end %>Supports</h3>
	</div>
	<div class="supported_projects">
	<% if @supported_projects.count > 0 %>
		<% @supported_projects.each do |project| %>
		<div class="four columns">
			<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
		</div>
	<% end %>
	<div class="sixteen columns">
		<%= paginate @supported_projects, :remote => true %> 
	</div>
	<% if current_user.name == @user.name %>
		<div class="sixteen columns">
			<div class="task_list">
			<h3>My Tasks </h3>
			<dl>
			<% @tasks.each do |task| %>
				<dt><%= task.title%> (<%= task.status %>)</dt>
				<dd>
					<%= task.description%><br />
					Project: <%= link_to task.project.title, task.project%>
				</dd>

			<% end %>
			</dl>
			</div>
		</div>
	<% end %>
	<% else %>
		<div class="sixteen columns">
			no supported projects yet
		</div>
	<% end %>
	</div>
	
	<div class="sixteen columns">
		<h3><% if current_user.name == @user.name %> My <%else%> <%=@user.name%>'s <%end %>Favourites</h3>
	</div>
	<div class="favourite_projects">
	<% if @favourite_projects.count > 0 %>
		<% @favourite_projects.each do |project| %>
		<div class="four columns">
			<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
		</div>
		<% end %>
		<div class="sixteen columns">
			<%= paginate @favourite_projects, :remote => true %> 
		</div>
	<% else %>
		<div class="sixteen columns">
			no favourite projects yet
		</div>
	<% end %>
	</div>
</div>