
<!-- 960 Container -->
<div class="container project_preview_container">	
	<div class="sixteen columns">
		<h3>Search Results</h3>		
	</div>
	<% @projects.each do |project| %>
	<div class="four columns">
		<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
	</div>	
	<% end %>
</div>



<h1>Listing projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.description %></td>

    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<!-- ============================================== -->
