<p id="notice"><%= notice %></p>

<!-- Super Container -->
<div class="super-container full-width" id="section-thirds">

	<!-- 960 Container -->
	<div class="container">	
		<div class="sixteen columns">
			<div class="ten columns alpha">
				<% project = @project%>
				<h3><%= project.title %></h3>
			
				<div class="module">						
					<div class="module-img">						
						<%= image_tag(project.image_url) %>										    
					</div>				
					<div class="module-meta">	
						<p><%= project.description%></p>
						<span class="heart">&hearts;<!--&#9825;--><%= project.likes %></span>
						<%= love_unlove_button(project) %>
						<br />
						<%= link_to 'Edit', edit_project_path(project), :class => 'button' %>
					</div>						
				</div>
			</div>	
			<div class="six columns omega">
				<h3>Fans</h3>
				<ul>
					<% @fans.each do |fan| %>
						<% user_id = fan.user_id %>
						<% user = User.find(user_id)%>
						<li>User ID:<%= user.id%> und Fan ID: <%= fan.id%></li>
					<% end %>
				</ul>
				<h3>Categories</h3>
				<ul>
					<% @cats = project.categories%>
					<% @cats.each do |cat| %>
						<% cat = Category.find(cat.id)%>
						<li>Cat:<%= cat.name%></li>
					<% end %>
				</ul>
			</div>			
		</div>
				
		

		<!-- /End 1 Columns -->
		
	</div>
	<!-- /End 960 Container -->

</div>
<!-- /End Super Container -->


