<div class="container">
	<div class="columns sixteen">
		<div class="columns three alpha">
			<h3>Explore</h3>
			<ul class="category_nav">
				<% @categories.each do |category| %>
					<li><%= link_to category.name, category, :remote => true, :class => category.name%></li>
				<% end %>
			</ul>
			<script>
			$(function() {
			   $('.category_nav li a').click(function() {
			      // remove classes from all
			      $('.category_nav li a').removeClass("active");
			      // add class to the one we clicked
			      $(this).addClass("active");
			   });
			});
			</script>
		</div>
		<div class="content">
			<div class="columns thirteen omega">
				<% @categories.each do |category| %>
				<% category_projects = category.projects.page(params[:page]).per(3) %>
					<% if (category_projects.exists?) %>
						<div class="twelve columns">
							<h3><%= category.name %></h3>
						</div>	
						
						<% category_projects.each do |project| %>
						
						<div class="four columns">
								<%= render :partial => 'projects/project_preview', :locals => {:project => project} %>	
						</div>
						<% end %>
						<div class="twelve columns">
							<% category_projects.count < 3 ? count = category_projects.count : count = 3 %>
							<div class="link_to_all"><%= count%>/<%= category_projects.count%> | <%= link_to "See all", category, :remote => true, :class => category.name%></div>
							<script>
							$(function() {
							   $('.link_to_all a.<%=category.name%>').click(function() {
							      // remove classes from all
							      $('.category_nav li a').removeClass("active");
							      // add class to the one we clicked
							      $('.category_nav li a.<%=category.name%>').addClass("active");
							   });
							});
							</script>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>





