<!DOCTYPE html>
<html>
<head>
  <title>AwsomeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Flash Message => new div with error or notice as content and id -->
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  <% end %>

<!-- Super Container -->
<div class="super-container full-width" id="section-tophat">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
			<h1 class="title"><%= link_to('Zeit und Zeug', home_url) %></h1>
			<span class="usermenu"><%= render 'shared/navigation' %></span>
		</div>		
	</div>	
</div>

<%= yield %>


<!-- Super Container -->
<div class="super-container full-width" id="section-footer">		
	<!-- 960 Container -->
	<div class="container">	
		<!-- footer -->
		<footer>
		<div class="sixteen columns" id="header">			
			<br />			
			<!-- 1/4 -->
			<div class="four columns alpha">
				<h5>About</h5>
				<p>The SuperSkeleton layout has been designed with responsive, future-proof websites in mind.</p>
				<p>It supports all of the content you can dream up, including image galleries, advertisement units, all function HTML elements, and lots lots more!</p>
				<p>If you're looking for a template to start building your own next site with, this is a great place to start!</p>
			</div>
			<!-- /End 1/4 -->
						
			<!-- 2/4 -->
			<div class="four columns">
				
				<h5>From Twitter</h5>
				<ul>
					<li>If you're looking for a template to start building your own next site with, this is a great place to start! <span>4 days ago</span></li>
					<li>It supports all of the content you can dream up, including image galleries, advertisement units, all function HTML elements, and lots lots more! <span>4 days ago</span></li>
					<li>The SuperSkeleton layout has been designed with responsive, future-proof websites in mind. <span>4 days ago</span></li>
				</ul>							
			</div>
			<!-- /End 2/4 -->
			
			<!-- 3/4 -->
			<div class="four columns">
				<h5>Popular Categories</h5>
				<ul>
					<li><a href="#">Music</a></li>
					<li><a href="#">Film</a></li>
					<li><a href="#">Theater</a></li>
					<li><a href="#">Lala</a></li>
				</ul>
			</div>
			<!-- /End 3/4 -->		
						
			<!-- 4/4 -->
			<div class="four columns omega">
				<h5>Lampi</h5>
				<p>Auch gibt es niemanden, der den Schmerz an sich liebt, sucht oder wünscht, nur, weil er Schmerz ist, es sei denn, es kommt zu zufälligen Umständen, in denen Mühen und Schmerz ihm große Freude bereiten können. Um ein triviales Beispiel zu nehmen, wer von uns unterzieht sich je anstrengender körperlicher Betätigung, außer um Vorteile daraus zu ziehen? Aber wer hat irgend ein Recht, einen Menschen zu tadeln, der die Entscheidung
				</p>
			</div>
			<!-- /End 4/4 -->			
			<br />			
		</div>
		</footer>
		<!-- /End Footer -->		
	</div>
	<!-- /End 960 Container -->	
</div>
<!-- /End Super Container -->

<!-- Super Container -->
<div class="super-container full-width" id="section-subfooter">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
		</div>		
	</div>
</div>

</body>
</html>
