<!DOCTYPE html>
<html>
<head>
  <title>AwsomeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application.js", "rails.js" %>

	<script type="text/javascript">
	    $(window).load(function(){
	      $('.flexslider').flexslider({
	        animation: "slide"
	      });
	    });
	</script>
  
</head>
<body>
  
<!-- Flash Message => new div with error or notice as content and id -->
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  <% end %>

<!-- section-tophat -->
<div class="full-width" id="section-tophat">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
			<div class="columns three alpha">
				<h1 class="title"><%= link_to('ZEIT ZEUG', home_url) %></h1>
			</div>
			<nav class="columns three">
			<%= link_to(categories_path,  :class => 'nav_link') do %>
			  Explore<br />Projects
			<% end %>
			<%= link_to(new_project_path, :class => 'nav_link') do%>
			  Start<br />Project
			<% end %>
		</nav>
			<div class="columns six">
				<%= render 'shared/search' %>
			</div>
			<span class="usermenu columns four omega"><%= render 'users/user_navigation' %></span>
		</div>		
	</div>	
</div>

<%= yield %>


<!-- section footer -->
<div class="full-width" id="section-footer">		
	<!-- 960 Container -->
	<div class="container">	
		<!-- footer -->
		<footer>
		<div class="sixteen columns" id="header">			
			<br />			
			<!-- 1/4 -->
			<div class="four columns alpha">
				<h5>About</h5>
				<p>Zeit und Zeug is a Platform to find help for your Projects.</p>
				<p>Blah, blah</p>
				<p>Blah, blah, blah, blah</p>
			</div>
			<!-- /End 1/4 -->
						
			<!-- 2/4 -->
			<div class="four columns omega">
				<h5>Contact us</h5>
				<p>Contact Form Here!</p>
			</div>
			
			<!-- /End 2/4 -->
			
			<!-- 3/4 -->
			<div class="four columns">
				<h5>Popular Categories</h5>
				<ul>
					<li><a href="#">Art</a></li>
					<li><a href="#">Film</a></li>
					<li><a href="#">Theater</a></li>
					<li><a href="#">Computer</a></li>
				</ul>
			</div>
			<!-- /End 3/4 -->		
						
			<!-- 4/4 -->
			<div class="four columns">		
				<h5>Social Icons Amok....</h5>
				<ul>
					<li>Bitte hier mal FB</li>
					<li>Bitte hier dann Twitter</li>
					<li>usw.</li>
				</ul>							
			</div>
			<!-- /End 4/4 -->			
			<br />			
		</div>
		</footer>
		<!-- /End Footer -->		
	</div>
	<!-- /End 960 Container -->	
</div>

<!-- section-subfooter -->
<div class="super-container full-width" id="section-subfooter">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
		</div>		
	</div>
</div>

</body>
</html>
