<!DOCTYPE html>
<html>
<head>
  <title>Zeit und Zeug</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag '/assets/ring.png' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application.js", "rails.js" %>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

	<script type="text/javascript">
	    $(window).load(function(){
		
			$('a.popup').click(function() {
				$('<div class="container" />').appendTo('body').load($(this).attr('href') + ' .form_container').dialog(
					
					{ 
						position: [100, 100]
					});
					return false;
			});
			
			$('.task_list dt').click(function(e){
			    $(this).nextUntil('dt').slideToggle();
			});

			$('.task_list dd').hide();
			
	      $('.flexslider').flexslider({
	        animation: "slide"
	      });
	
	    });
	</script>
  
</head>
<body>
  
<!-- Flash Message => new div with error or notice as content and id -->
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  <% end %>

<!-- section-tophat -->
<div class="full-width" id="section-tophat">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
			<div class="columns eight">
				<h1 class="title"><%= link_to('Zeit und Zeug', home_url) %></h1>	
				<nav>
					<%= link_to(categories_path,  :class => 'nav_link first') do %>
					  Explore<br />Projects
					<% end %>
					<%= link_to(new_project_path, :class => 'nav_link last') do%>
					  Start<br />Project
					<% end %>
				</nav>
			</div>
			<div class="columns eight">
				<%= render 'shared/search' %>		
				<span class="usermenu"><%= render 'users/user_navigation' %></span>
			</div>
		</div>		
	</div>	
</div>

<%= yield %>


<!-- section footer -->
<div class="full-width" id="section-footer">		
	<!-- 960 Container -->
	<div class="container">	
		<!-- footer -->
		<footer>
		<div class="sixteen columns" id="header">			
			<br />			
			<!-- 1/4 -->
			<div class="five columns alpha">
				<h5>Zeit und Zeug</h5>
				<p>Zeit und Zeug is a funding and supporting platform for all kinds of projects.</p>

				<p>It is also a great possibility to introduce your ideas to the world and get feedback for them. Everything from films, games, and music to art, design, and technology.</p>

				<p>Zeit und Zeug wants to help projects that are brought to life through the direct support of others.</p>
			</div>
			<!-- /End 1/4 -->
						
			<!-- 2/4 -->
			
			<!-- /End 2/4 -->
			<!-- 3/4 -->
			<div class="six columns">
				<h5>Categories</h5>
				<div class="three columns alpha">
				<ul>
					<li><a href="#">Art</a></li>
					<li><a href="#">Film</a></li>
					<li><a href="#">Theater</a></li>
					<li><a href="#">Computer</a></li>
					<li><a href="#"></a></li>
				</ul>
				</div>
				<div class="three columns omega">
				<ul>
					<li><a href="#">Art</a></li>
					<li><a href="#">Film</a></li>
					<li><a href="#">Theater</a></li>
					<li><a href="#">Computer</a></li>
					<li><a href="#"></a></li>
				</ul>
				</div>
			</div>
			<!-- /End 3/4 -->	
			<!-- 4/4 -->
			<div class="five columns omega">
				<h5>More</h5>
				<ul>
					<li><a href="#">Follow us on Facebook</a></li>
					<li><a href="#">Follow us on Twitter</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
			<!-- /End 4/4 -->			
			<br />			
		</div>
		</footer>
		<!-- /End Footer -->		
	</div>
	<!-- /End 960 Container -->	
</div>

<!-- section-subfooter -->
<div class="super-container full-width" id="section-subfooter">
	<!-- 960 Container -->
	<div class="container">			
		<div class="sixteen columns">
		</div>		
	</div>
</div>

</body>
</html>
